/* Hero Section */

.hero-banner {
  /*background: url('images/logo.jpg') no-repeat center center/cover;*/
  background-color: var(--accent-color);
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.hero-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.916), rgba(0, 0, 0, 0.432))
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn.primary {
  background-color: var(--accent-color);
  color: white;
}

.btn.primary:hover {
  background-color: #5d5a5a;
}

.btn.secondary {
  background-color: white;
  color: #111;
}

.btn.secondary:hover {
  background-color: #ddd;
}

/* Associations section */

.associations-container {
  width: 90%;
  max-width: 1200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dc131300;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.435);
  padding: 1.5rem;
}

.associations p{
  color:#000000;
  font-size: 22px;
}

.card {
  background: #5cc08100;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.403);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 0.5rem;
  color: var(--accent-color);
  text-align: center;
  font-size: 35px;
}

.card h3{
  text-align: center;
  border-bottom: 2px solid var(--accent-color);
  margin-bottom: 27px;
  font-size: 25px;
  color: black;
}

.card p{
  color:#000000;
  font-size: 20px;
  padding: auto;
  max-width: 950px;
  text-align: center;
  background-color: #f4050500;
  margin: auto;
}
