
.hero-banner {
  /*background: url('images/logo.jpg') no-repeat center center/cover;*/
  background-color: var(--accent-color);
  height: 70vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.hero-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.916), rgba(0, 0, 0, 0.432))
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 70px;
}

.tech-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #fff;
}

.tech-section h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.tech-subtext {
  font-size: 1rem;
  color: #555;
  margin-bottom: 40px;
}

.tech-grid {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
}

.tech-card {
  flex: 0 0 300px;
  scroll-snap-align: start;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.tech-card:hover {
  transform: translateY(-6px);
}

.tech-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.tech-card h3 {
  margin: 10px 0;
  font-size: 1.1rem;
  color: var(--accent-color);
}

.tech-card h1{
    color: var(--accent-color);
}

.tech-card p {
  font-size: 0.95rem;
  color: #444;
}

