*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
  --main-border: solid rgba(255, 0, 0, 0);
  --accent-color: #00669a;
  --bg-colour: #efe2b400;
  --text-color: floralwhite;
  --text-color2: black;
}

/* Typography */
body {
  font-family: 'Trebuchet MS', sans-serif;
  line-height: 1.6;
  color: var(--text-color2);
  background: var(--bg-colour);
}

/* Original Header CSS START */

/* Original Header CSS END */

/* second Header start*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header.scrolled .btn-outline {
    padding: 10px 20px;
    border: 2px solid rgb(15, 123, 145);
    border-radius: 4px;
    transition: 0.3s;
}

header.scrolled a{
  color: rgb(15, 123, 145);
}

.logo a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.btn-outline {
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 4px;
    transition: 0.3s;
}

.btn-outline:hover {
    background-color: white;
    color: black;
}

/* Responsive */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .why-items {
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

/* hamburger for mobile */

/* Base style */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 1001;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Mobile styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    position: absolute;
    top: 25px;
    right: 30px;
  }

  #navMenu {
    position: absolute;
    top: 70px;
    right: 0;
    background: #140539;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    transition: height 0.3s ease;
    display: flex;
  }

  #navMenu.open {
    height: 200px; /* adjust depending on number of links */
  }

  #navMenu a {
    padding: 10px 0;
    color: #fff;
    width: 100%;
    text-align: center;
  }
}

/* 2nd header end*/


.hero-banner {
  /*background: url('images/logo.jpg') no-repeat center center/cover;*/
  background-color: #1797f2;
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.hero-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.916), rgba(0, 0, 0, 0.432))
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Associations section */

section h2{
    font-size: 35px;
    color: var(--accent-color);
}

section p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 50px;
}

.associations .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.associations-container {
    width: 90%;
    max-width: 1200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dc131300;
    border-radius: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
    padding: 1.5rem;
}

.associations p{
  color:#000000;
  font-size: 22px;
}

.card {
    background: #5cc08100;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.062);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 0.5rem;
    color: var(--accent-color);
    font-size: 25px;
}

/*.card h3{
    text-align: center;
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: 27px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.886);
}*/

.card p{
  color:#000000;
  font-size: 20px;
  padding: auto;
  max-width: 950px;
  background-color: #f4050500;
  margin: auto;
}

/* Core value section */

.values-grid {
  padding: 60px 20px;
  background-color: #fafafa;
  text-align: center;
}

.values-grid h2{
    color: var(--accent-color);
    font-size: 30px;
}

.values-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 2rem 0;
}

.values-item {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px rgba(0, 0, 0, 0);
  transition: ease-out 1s;
  border: 1px solid rgba(227, 227, 227, 0.707);
}

.values-item:hover {
transform: translateY(6px);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.062);
transition: ease-out;

}

.values-item img {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
}

.values-item h3 {
  margin: 10px 0;
  font-size: 1.1rem;
  color: var(--accent-color);
}

.values-item p {
  font-size: 0.95rem;
  color: var(--text-color2);
  margin-bottom: auto;
}

/* Footer */

.footer {
  background-color: #1e293b;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items */
  align-items: flex-start;
  gap: 2rem; /* Adds spacing between columns */
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  background-color: #1797f200;
}

.footer-logo {
  flex: 1 1 250px;
  border-color: rgba(255, 255, 255, 0);
  border-style: dotted;
}

.footer-logo h3 {
  font-size: 24px;
  margin-bottom: 10px;
  border-color: #f63ba200;
  border-style: dotted;
}

.footer-contact{
  flex: 1 1 250px;
  border-color: #3b83f600;
  border-style: dotted;
  text-align: center;
}

.footer-contact h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-contact a{
  color: var(--accent-color);
}

.footer-links {
  flex: 1 1 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-contact a:hover {
  color: red;
}

.footer-social {
  flex: 1 1 200px;
  display: flex;
  gap: 15px;
  margin-top: 20px;
  border-color: #eef60000;
  border-style: dotted;
  justify-content: center;
}

.footer-social img {
  width: 24px;
  height: 24px;
  filter: brightness(0.8);
  transition: filter 0.3s;
}

.footer-social img:hover {
  filter: brightness(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: solid var(--accent-color);
  color: #666;
}
