.hero-banner {
  /*background: url('images/logo.jpg') no-repeat center center/cover;*/
  background-color: var(--accent-color);
  height: 80vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.hero-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.916), rgba(0, 0, 0, 0.432))
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Associations section */

section h2{
    font-size: 35px;
    color: var(--accent-color);
}

section p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 50px;
}

.associations .grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.associations-container {
  width: 90%;
  max-width: 1200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #dc131300;
  border-radius: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  padding: 1.5rem;
}

.associations p{
  color:#000000;
  font-size: 22px;
}

.card {
  background: #5cc08100;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.062);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 0.5rem;
  color: var(--accent-color);
  font-size: 25px;
}

/*.card h3{
    text-align: center;
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: 27px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.886);
}*/

.card p{
  color:#000000;
  font-size: 20px;
  padding: auto;
  max-width: 950px;
  background-color: #f4050500;
  margin: auto;
}

/* Core value section */

.values-grid {
  padding: 60px 20px;
  background-color: #fafafa;
  text-align: center;
}

.values-grid h2{
  color: var(--accent-color);
  font-size: 30px;
}

.values-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding: 2rem 0;
}

.values-item {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px rgba(0, 0, 0, 0);
  transition: ease-out 1s;
  border: 1px solid rgba(227, 227, 227, 0.707);
}

.values-item:hover {
transform: translateY(6px);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.062);
transition: ease-out;

}

.values-item img {
  width: 60px;
  height: auto;
  margin-bottom: 1rem;
}

.values-item h3 {
  margin: 10px 0;
  font-size: 1.1rem;
  color: var(--accent-color);
}

.values-item p {
  font-size: 0.95rem;
  color: var(--text-color2);
  margin-bottom: auto;
}

