.hero-banner {
  /*background: url('images/logo.jpg') no-repeat center center/cover;*/
  background-color: var(--accent-color);
  height: 50vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.hero-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.916), rgba(0, 0, 0, 0.432))
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 70px;
}

/* History section */

/*.statement{
    margin: auto;
    padding: 10px;
    width: 500px;
}

.statement p {
    text-align:center;
    color: #0e0000;
    line-height: 2;
    font-size: 25px;
} */


.history-text1 {
    margin: 40px auto;
    width: 550px;
    max-width: 90%;
    text-align: center;
    padding: 0 10px;
}

.history-text1 h1{
    font-size: 50px;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.history-text1 p{
    text-align:center;
    line-height: 1.8;
    font-size: 23px;
    margin-bottom: 1px;
}

.history {
    padding: 60px 70px;
    background: var(--sectionbg);
}

.history-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 5px;
    flex-wrap: wrap;
    background-color: #0eefe400;
}

.history-image {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}

.history-image img {
    width: 100%;
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.4s ease;
    background-color: #0eefe400;
}

.history-image img:hover {
  transform: scale(1.03);
}

.history-text {
    flex: 1 1 45%;
    text-align: left;
    background-color: #ff00e100;
}

.history-text h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #0b0b0b;
}

.history-text p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #0b0b0b;
    text-align: left;
    background-color: #cd256500;
}

/* Milestone section */

.tech-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #fff;
}

.tech-section h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: var(--accent-color);
}

.tech-subtext {
  font-size: 1rem;
  color: #555;
  margin-bottom: 40px;
}

.tech-grid {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
}

.tech-card {
  flex: 0 0 300px;
  scroll-snap-align: start;
  background: #fff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05);
  transition: transform 0.3s ease;
}

.tech-card:hover {
  transform: translateY(-6px);
}

.tech-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.tech-card h3 {
  margin: 10px 0;
  font-size: 1.1rem;
}

.tech-card h1{
    color: var(--accent-color);
}

.tech-card p {
  font-size: 0.95rem;
  color: #444;
}

/* timeline section */

.body {
  font-family: 'Times New Roman', Times, serif;
  background-color: var(--sectionbg);
  margin: 0;
  padding: 20px;
  color: #0b0b0b;
}

.body h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 5px;
  color: var(--accent-color);
}

p.subtitle {
  text-align: center;
  color: grey;
  margin-bottom: 40px;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding-left: 40px;
  max-width: 700px;
}

/* verticla line */

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 100%;
  background: var(--accent-color);
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 20px;
  left: -2px;
  width: 12px;
  height: 12px;
  background: white;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
}

.timeline-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-left: 30px;
  margin-bottom: 15px;
}

.timeline-card h2 {
  margin-top: 0;
  font-size: 20px;
  color: var(--accent-color);
}

.timeline-card h3 {
  margin: 5px 0;
  font-size: 16px;
  color: #111;
}

.timeline-card p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}

.timeline-card ul {
  margin: 10px 0 0 20px;
  padding: 0;
  font-size: 14px;
  color: #444;
}

.timeline-card ul li{
  margin-bottom: 6px;
}
