
/* Hewro Section */
.hero-banner {
  background: url('images/1271.jpeg') no-repeat center center/cover;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0 20px;
}

.hero-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(9, 9, 9, 0.4);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.cta-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 30px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn.primary {
  background-color: var(--accent-color);
  color: white;
}

.btn.primary:hover {
  background-color: var(--primary-dark);
}

.btn.secondary {
  background-color: white;
  color: #111;
}

.btn.secondary:hover {
  background-color: #ddd;
}

.btn.secondary2 {
  background-color:var(--accent-color);
  color: #fffefe;
}

.btn.secondary2:hover {
  background-color: #ddd;
}

/* Welcome Section */

.welcome-section {
  padding: 80px 0;
  background-color: var(--sectionbg);
}

.welcome-section h2 {
  color: var(--accent-color);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 30px;
}

.welcome-section p {
  max-width: 900px;
  margin: 0 auto 20px;
  color: var(--text-color2);
  text-align: center;
  line-height: 1.8;
}

/* Mass Schedule Cards */
.content-section h2{
  color: var(--accent-color); 
  margin-top: 30px;
  margin-bottom: 30px;
}

.sacrament-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.sacrament-card {
    background-color: var(--sectionbg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    border-left: 5px solid var(--accent-color);
}

.sacrament-card h3 {
    color: var(--accent-color);
    margin-bottom: 15px;
}

.sacrament-card p {
    margin-bottom: 15px;
}

.sacrament-card .requirements {
    margin-top: 20px;
}

.sacrament-card .requirements h4 {
    color: var(--accent-color);
    font-size: 1.1rem;
    margin-bottom: 10px;
}

h2 {
    color: var(--accent-color);
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
}

/* Message centre */

.features {
    padding: 60px 20px;
    background: #f9f9f9;
}

.feature-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin: 5px;
    flex-wrap: wrap;
}

.feature-image {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
}

.feature-image img {
    width: 100%;
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.4s ease;
}

.feature-image img:hover {
  transform: scale(1.03);
}

.feature-text {
    flex: 1 1 45%;
    text-align: left;
}

.feature-text h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: var(--accent-color);
}

.feature-text p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--text-color2);
}

